/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto'!important;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: .2px;
    color: #666 !important;
    overflow-x: hidden;
}

p {
   font-size: 16px;
    line-height: 27px;
    color: #666;
}

li {
    list-style: none;
    position: relative;
}
body figure{
/*
    margin: 0;
    width: 100%;
*/
}
body a {
    color: #666;
  transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
}

body a:hover {
    text-decoration: none;
    color: #ff297a;
}

body a:hover,
body a:focus,
body a:visited {
    text-decoration: none;
}

i { 
    margin: 3px;
}

.unique {
    color: #ff297a;
}
.unique2 {
    color: #ff297a;
}

.btn3 {
	position: relative;
	padding: 7px 15px;
	display: inline-block;
	background: #002d40;
	color: #fff;
}
.btn3:hover{
   background: #ff297a;
    color: #fff; 
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



/*** 

====================================================================
	Typography Settings
====================================================================

 ***/
.title{
    margin-bottom: 5px;
    letter-spacing: .2px;
    text-transform: capitalize;
}
body h2{
  font-size: 30px;  
}
body h3{
  font-size: 24px;  
}
body h4{
    font-size: 20px;
}
body h5{
    font-size: 18px;
}
body h6{
    font-size: 16px;
}
.meta {
	font-size: 14px;
	font-weight: 300;
	color: #7f7a7a;
}
.pt50{
    padding-top: 50px;
}
.pb50{
    padding-bottom: 50px;
}
.pt80{
    padding-top: 80px;
}
.pb80{
    padding-bottom: 80px;
}
.pt100{
    padding-top: 100px;
}
.pb100{
    padding-bottom: 100px;
}

.ptb50{
  padding: 0 50px;  
}


/***

==================================================================
				For Home Page2
==================================================================

***/
/***

==================================================================
				Main Header
==================================================================

***/

header {
	background: #f2f3f2;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;
}

/*	Navbar ------- */
.navbar{
	position:relative;
	float:left;
}
.navbar .navbar-collapse{
	padding:0px;	
}

.navbar .main_menu{
	position:relative;
	margin:0px;
}
.navbar .main_menu > li{
	position:relative;
	float:left;
	margin-left:30px;
	padding: 30px 0px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.navbar .main_menu > li:last-child{
	margin-right:0px;
}
.navbar .main_menu > li > a{
   
	position:relative;
	display:block;
/*	color:#ffffff;*/
	text-align:center;
	line-height:25px;
	letter-spacing:0px;
	opacity:1;
	font-weight:600;
/*	font-size:14px;*/
	text-transform:uppercase;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.navbar .main_menu > li:hover > a,
.navbar .main_menu > li.active > a{
	color:#ff297a;
/*	opacity:1;*/
}
.navbar .main_menu > li > ul{
	position:absolute;
	left:0px;
	top:106%;
	min-width:240px;
	padding:0px;
	z-index:100;
	display:block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(40px);
/*	  transition: 0.8s;*/
	background:#ffffff;
	border-top:2px solid #ff297a;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
  
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}
.navbar .main_menu > li.dropdown:hover > ul{
  opacity: 1;
visibility: visible;
transform: translateY(14px);
z-index: 4;
     
}
.navbar .main_menu > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}
.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}
.navbar .main_menu > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 15px;
	line-height:24px;
	font-weight:400;
	font-size:14px;
	text-transform:capitalize;
	color:#292929;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.navbar .main_menu > li > ul > li:hover > a{
	color:#ffffff;
	background:#ff297a;
}
/*
.navbar .main_menu > li > ul > li.dropdown > a:after{
	font-family: 'Fontawesome';
	content: "\f105";
	position:absolute;
	right:10px;
	top:12px;
	width:10px;
	height:20px;
	display:block;
	color:#292929;
	font-weight: 900;
	line-height:20px;
	font-size:16px;
	text-align:center;
	z-index:5;	
}
*/
.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;	
}
.navbar .main_menu > li > ul > li > ul{
	position:absolute;
	left:100%;
	top:20px;
	width:240px;
	padding:0px;
	z-index:100;
		display:block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(40px);
	background:#ffffff;
	border-top:2px solid #ff297a;
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}
.navbar .main_menu > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}
.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}
.navbar .main_menu > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 15px;
	line-height:24px;
	font-weight:400;
	font-size:14px;
	text-transform:capitalize;
	color:#292929;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.navbar .main_menu > li > ul > li > ul > li:hover > a{
	color:#ffffff;
	background: #ff297a;
}
/*
.navbar .main_menu > li > ul > li > ul > li.dropdown > a:after{
	
	content: "\f105";
	position:absolute;
	right:10px;
	top:11px;
	width:10px;
	height:20px;
	display:block;
	color:#292929;
	line-height:20px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	z-index:5;	
}
*/
.main-menu .navigation > li > ul > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;	
}

.navbar .main_menu li > ul > li.dropdown:hover > ul{
    opacity: 1;
visibility: visible;
transform: translateY(0px);
z-index: 4;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
	transition:all 300ms ease;
}
.navbar .navbar-collapse > ul li.dropdown .dropdown-btn {
	position: absolute;
	right: 15px;
	top: 7px;
	width: 36px;
	height: 32px;
	text-align: center;
	color: #ffffff;
	line-height: 32px;
	font-size: 20px;
	font-weight: normal;
/*	border: 1px solid #ffffff;*/
	background-size: 20px;
	cursor: pointer;
	z-index: 5;
	display: none;
}


/*	Navbar ------- */

.social-media{
	justify-content: space-between;
    display: flex;
    font-size: 18px;
}


/***



/***

==================================================================
				Slider Section
==================================================================

***/

.slider-area{
   background: url(../images/bg3.png)no-repeat;
    background-position: right;
    width: 100%;
    height: 100vh;
}
.single-slide img{
    width: 50%;
    height: 100vh;
    object-position: bottom;
object-fit: scale-down;
    position: relative;
    right: 20%;
   
}
.single-slide{
    position: relative;
}
.slide-text-wrapper{
    text-align: right;
    position: absolute;
    bottom: 250px;right:35%;
    
}



/***

==================================================================
				Main Content Section
==================================================================

***/


/***

==================================================================
				Popular  Section
==================================================================

***/
.popular-post .post-item {
	display: flex;
}
.post-item .post-content{
    margin-left: 40px;
}


/***

==================================================================
				Banner  Section
==================================================================

***/

.banner{
    margin-bottom: 50px;
}
/***

==================================================================
				Instagram Section
==================================================================

***/

.instagram-gallery figure{
    position: relative;
    overflow: hidden;
     width: 100%;
    margin-bottom: 30px;
}
.instagram-gallery figure img {
	width: 100%;
}
.instagram-gallery .img-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transform: scale(0) rotate(45deg);
	transition: 0.5s;
	/* border: 10px solid #ff7f14; */
	border: 20px solid #ff297a;
    opacity: 0.7;
   
}
.instagram-gallery .img-overlay a {
	color: #fff;
	/* top: 139px; */
	bottom: 40%;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 20px;
	transform: rotate(-45deg);
}
.instagram-gallery figure:hover .img-overlay{
    transform: scale(1) rotate(45deg); 
}

.follow-instagram figure{
    position: relative;
    overflow: hidden;
}

.follow-instagram figure figcaption {
	position: absolute;
	top: 10%;
	left: 0;
	text-align: center;
	right: 0;
	text-transform: uppercase;
	font-weight: 600;
}
.follow-instagram img {
	object-fit: cover;
	height: 350px;
	width: 100%;
}

/***

==================================================================
				footer Section
==================================================================

***/
.footer-title{
  text-transform: uppercase;
  
}
.footer-title hr{
width: 150px; 
    margin-left: 0;
    margin-bottom: 30px;
    position: relative;
}
.footer-title hr:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background: #ff297a;

}
.footer ul li {
	margin-bottom: 10px;
	display: flex;
}
.footer ul li i {
	font-size: 25px;
	margin-right: 15px;
}
.latest-post .post-item {
	display: flex;
}
.latest-post figure img{
    width: 100%;
}

.footer-bottom{
    background: #ebedec;
   
    padding: 20px 0;
text-transform: capitalize;

   
}
.footer-bottom p{
    margin-bottom: 0;
    font-size: 14px;
     font-weight: 600;
  
}



/***

==================================================================
				video Area
==================================================================

***/

.video-area .video iframe {
	width: 100%;
	height: 400px;
}
.video-area .video-blog {
padding-left: 0;
}
.video-area .live-blog {
	background: #4c6c79;
	color: #fff;
	padding: 50px 10px;
	
}
.video-area .live-blog p{
    color: #fff;
}
.video-area .live-view {
	color: #fff;
	/* height: 100%; */
	padding: 55px;
	background: #002d40;
}